.window {
    margin-left:1%;
}

.input {
    margin-left:1%;
    border-radius: 5px;
}

.btn {
    margin-left: 1%;
    color: white; 
    text-decoration: none; 
    user-select: none; /* убирать выделение текста */
    background: green; 
    border-radius:5px;
}

.btn:hover,
btn:active {
    opacity: 0.75;
}

.cart {
    display:flex;
    box-sizing: border-box;
}

.btn-edit {
    position: absolute;
    margin-left: 40%;
    margin-right: 1%;
}

.btn-delete {
    position: absolute;
    
}

.block {
    width: 50%;
}